body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

header a{  
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #FEA55F;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #FEA55F;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
section {
  padding: 50px 20px;
}
/* About me section */

.about-section {
  text-align: center;
  padding: 10px 20%;
  color: white;
}
.about-description {
  text-align: left;
  padding-bottom: 20px;
  font-size: 22px;
}
.about-description h2{
  color: #39BC99;
  font-size: 40px;
}
.about-description button{
  background-color: #FEA55F;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 20px rgba(254, 165, 95, 0.25);;
}
.about-links{
  display: flex;
  text-decoration: none;
}
.gitlink p{
  color: #FEA55F;
}
.gitlink{
  text-decoration: none;
  color: #39BC99;
  font-size: 20px;
  align-items: center;
  display: flex;
  padding: 0px 5%;
}

.temp a{ 
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#projects{
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
}
.projects h2{
  font-size: 35px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}

.project {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(67, 217, 173, 0.75);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.project a {
    display: block;
    height: 200px; /* Adjust the height as needed */
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.project img {
  width: 100%;
  height: 200px;
  text-decoration: none;
}

.project:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.contact{
  text-align: center;
  font-size: 25px;
  color: white;
}
.contact a{
  text-decoration: none;
  color: #FEA55F;
}
.contact p{
  font-size: 20px;
}
.contact img{
  width: 50px;
  height: auto;
  padding: 10px;
}

.back a{ 
  margin: 20px 20%;
  color: #FEA55F;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  font-weight: bold;
}

.back a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #FEA55F;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.back a:hover::after{
    width: 100%;
}

#project-title
{
  padding-top: -20%;
  font-size: 42px;
  text-align: center;
  color: #fff;
}

#video-container{
  text-align: center;
  border: none;
}
.project-link {
  font-size: 20px;
  justify-content: center;
  color: #FEA55F;
  align-items: center;
  text-align: center;
  display: flex;  
}
.project-link a{
  text-decoration: none;
  color: #39BC99;
}

#project-description {
  padding: 25px 20%;
  padding-top: 20px;
  font-size: 24px;
  text-align: left;
  color: #fff;
  border-color: #FEA55F;
}
.link {
  text-decoration: none;
}
#slideshow{
  padding: 10px 20%;
}
.slideshow-container {
  max-height: 450px; /* Adjust the maximum height of the slideshow */
  position: relative;
  margin: 0 auto;
  width: 800px; /* Adjust the width of the slideshow */
  overflow: hidden; /* Hide overflow content */
  background-color: black;
  border-radius: 10px;
}

.slide {
  width: 800px; /* Ensure the image takes up the entire width of the container */
  height: 450px; /* Ensure the image takes up the entire height of the container */
  object-fit: scale-down; /* Resize the image to cover the entire container while preserving aspect ratio */
  display: block; /* Ensure the image is displayed as a block element */
  border-radius: 10px;
}

.indicators-container {
  text-align: center;
  border-radius: 10px;
  padding: auto;
  padding-top: 10px;
}

.image-indicator {
  display: inline-block;
  width: 20px;
  height: 11px;
  background-color: rgb(255, 255, 255);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.image-indicator.active {
  background-color: black;
}

.thumbnails-container {
  padding-top: 20px;
}

.thumbnail {
  width: 150px; 
  height: 75px; 
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5; 
  transition: 0.2s;
}

.thumbnail.active {
  opacity: 1; 
}

.thumbnail:hover {
  transform: scale(0.9);
  opacity: 1; 
}

footer{
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px;
}
